@keyframes opening {
	from {
		grid-template-columns: 1fr 0fr 1fr;
		opacity: 0;
		min-height: 100vh;
		min-width: 100vw;
	}
	80% {
		grid-template-columns: 1fr 2fr 1fr;
		opacity: 0.4;
		min-height: 100vh;
		min-width: 100vw;
	}
	to {
		opacity: 1;
	}
}

@keyframes glitter {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

body {
	background-image: linear-gradient(30deg,
									  #5c83b9 60%,
									  #e5973a 90%);
	height: 100vh;
}

#game {
	display: flex;
	flex-direction: column;
}

music-stave {
	height: 40vh;
	margin: 0 5vw;
}

music-stave::part(staveLine) {
	stroke-width: 4%;
	stroke-linecap: round;
}

music-stave::part(marker) {
	stroke-width: 0.5%;
	stroke: black;
	fill: #f3d2aa;
}

music-stave::part(ledgerLine) {
	stroke-width: 6%;
	/* stroke: black; */
	stroke-linecap: round;

}

music-stave::part(markerGroup) {
	/* stroke: red; */
}


#keyboard {
	grid-row: 2 / 3;
	grid-column: 2 / 3;
	margin-top: 2%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 10vh;
}

#keyboard button {
	width: 10vw;
	margin: 1vw;
	aspect-ratio: 1;
	font-size: 150%;
	font-weight: bolder;
	background-color: royalblue;
	border: black solid 2px;
	border-radius: 8px;
	transition: background-color 50ms,
				transform 100ms;
}

#keyboard button:active {
	background-color: gray;
	transform: scale(0.8);
}

svg {
	height: 30vh;
	width: 75vw;
	border: black solid 1px;
	align-self: center;
}


svg .key.normal {
	fill: ivory;
}

svg .key.accent {
	fill: #333333;
}

svg .key:hover {
	fill: royalblue;
}
